.footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.footerItem {
  text-align: center;
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
}

.footerIcon {
  margin: 0 auto;
  display: block;
  font-size: 150%;
}

.active {
  color: aquamarine;
}
